<div id="transfer-progress-container">
    <h2 class="center capitalize">EUSBC</h2>
    <h3 class="center capitalize" id="transfer-progress-header">Transferring funds</h3>

    <div class="transfer-fund-img center">
        <img src="static/images/icons/credit-card.svg" alt="" id="add-fund-icon" id="transfer-progress-img">
    </div>


    <div class="flex-space-between margin-top-md">
        <span id="transfer-progress-transfer-from" class="capitalize bold"></span>
        <span id="transfer-progress-transfer-to" class="capitalize bold"></span>
    </div>

    <div id="progressBar">
        <div id="progress">

        </div>
    </div>

    <div class="percentage-done center capitalize">
        <p class="capitalize lighten-text" id="transfer-progression-status">transferring progress 0%
        </p>

    </div>

    <div class="transfer-msg center margin-top-sm">
        <p id="transfer-waiting-msg">Transferring funds please wait....</p>
    </div>

    <div class="transfer-complete-btn center">
        <button type="button" class="btn-small" id="transfer-close-btn">Close</button>
    </div>
</div>