{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/css.css' %}">
    <title> Verify authentication</title>
</head>


<body>
    
    <main>

        <section class="authentication">

            <div class="container">

               {% include "partials/messages/messages.html" %}
               
                <div class="form">

                    <div class="center" id="site-title">
                        <h2>VFlix - Verify Fast. Login Instantly to eXplore</h2>
                    </div>
                    <div class="logo center grid">
                        <img src="{% static "/images/authentication/authentication.jpg" %}" alt="" srcset="" class="authentication-logo">

                    </div>
                    <div class="authentication_type center grid">
                        <h3 class="info">Verify your account</h3>
                    </div>
                  

                    <form action="{% url 'verify_registration_code' username %}" method="post" class="grid authentication-form-div center">
                      
                         {% csrf_token %}                       
                        <div class="flex-verification-grid" id="verification-grid-input">

                            {% for field in form %} 
                                {{ field.as_widget }}
                            {% endfor %}
                     
                        </div>

                        <button class="btn-medium text-upper verify-btn" type="submit">Verify code</button>                        

                    </form>

                </div>



            </div>





        </section>



    </main>

<script type="module" src="{% static 'js/verify.js'  %}"></script>
</body>
</html>