{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/css.css' %} ">
    <title>{% block title %}Virtual Bank - EUSBC - One bank to rule them all{% endblock title %} </title>
</head>

<body>
    <div class="dim-background" id="dim"></div>
    <div class="dim-background" id="dim"></div>

    <div id="refresh-overlay" class="center">
        <img src="{% static '/images/EUSBC.gif' %}" alt="" srcset="">
   </div>

    <main>
        <section id="virtualbank-dashboard">
            {% include "partials/messages/messages.html" %}
            <div id="spinner2" class="spinner2"></div>
            <div class="container">
                {% block body %}{% endblock body %}
           </div>

    </main>

   
    <script src="{% static '/js/profile.js' %}" type="module" defer></script>
     <script src="{% static '/js/script.js' %}" type="module" defer></script>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.2/dist/sweetalert2.all.min.js"></script>
</body>

</html>