{% load static %}

<section id="add-account-info">
    <div class="wrapper">

        <!-- Profile Section -->
        <div class="profile">
            <div class="head center flex-direction-column wrap-text">
                <img src="{% static '/images/icons/profile.png' %}" alt="Profile Image" class="profile-img">
                <span id="account-name" class="profile-information"></span>
                <span id="account-surname" class="profile-information"></span>
                <span id="account-email" class="profile-information"> </span>
                <span id="account-location" class="profile-information"></span>
                <span id="account-state" class="profile-information"></span>
                <span id="account-postcode" class="profile-information"></span>
                <span id="account-mobile" class="profile-information"></span>
                <p class="status green">{{ IS_ACTIVE }}</p>
            </div>

            <hr>

            <div class="body">
                <div class="account-information">
                    <p class="bold">Account No:</p>
                    <p>{{ bank_account.sort_code }} {{ bank_account.account_number }}</p>
                </div>

                <div class="account-information">
                    <p class="bold">Pin:</p>
                    <p>{{ PIN }}</p>
                </div>

                <div class="account-information">
                    <p class="bold">Joined:</p>
                    <p>{{ JOINED_DATE }}</p>
                </div>
            </div>

            <hr>

            <div class="footer center flex-direction-column">
                <small class="green">{{ LOGGED_IN }}</small>
             
                <button type="button" id="profileBtn" class="button margin-top-sm">Add Profile</button>
                
            </div>
        </div>

        <!-- Profile Form -->
        <div class="profile-form">
            <div class="head">
                <div class="info dashboard-info">
                    <p>Account</p>
                    <p>Transactions</p>
                    <p>Payments</p>
                    <p>Security Settings</p>
                    <p>Notifications</p>
                </div>
                <div class="avatar lightbox-display">
                    <img src="{% static '/images/icons/profile.png' %}" alt="Profile Avatar" class="profile-form-img">
        
                    <p>{{ EMAIL }}</p>
                </div>
            </div>

            <div class="body">
           
                {% include "partials/main/add_account_info_form.html" %}
                
            </div>
        </div>
    </div>
</section>