{% load static %}


<div class="card" id="new-card" role="region" aria-labelledby="new-card-heading">
    <div class="window-close flex-end">
        <img src="{% static '/images/icons/window-close.svg' %}" alt="Window" class="icon window-close-icon"
            id="window-close-icon">
    </div>
    <div class="logo center" aria-label="EUSBC Logo">EUSBC</div>

    <h3 class="capitalize center margin-bottom-sm" id="new-card-heading">Create New Card</h3>
    <p class="new-card-error-msg red center d-none" id="new-card-error-msg">One or more of the
        fields is not filled</p>

    <div class="cards-options-img center" aria-label="Supported Card Types">
        <img src="{% static '/images/icons/discover.svg' %}" alt="Discover Card" class="pin-image-icon">
        <img src="{% static '/images/icons/visa.svg' %}" alt="Visa Card" class="pin-image-icon">
        <img src="{% static '/images/icons/mastercard.svg' %}" alt="MasterCard" class="pin-image-icon">
    </div>

    <form action="/" method="post" id="card-form" aria-describedby="form-description">
        <div class="card-number form-group two-column-grid">

            <div class="cardholder-name card-details" id="cardholder-name">
                <label for="cardholder-name">Card holder name</label>
                <input type="text" name="card-name" id="cardholder-name" aria-required="true" autocomplete="cc-number"
                    placeholder="John Smith..." minlength="3" maxlength="50" required>
            </div>

            <div class="card-number card-details">
                <label for="card-number">Card number</label>
                <input type="text" name="card-number" id="card-number" aria-required="true" autocomplete="cc-number"
                    placeholder="1234 5678 9012 3456" minlength="19" maxlength="19" required>
            </div>

        </div>

        <div class="two-column-grid">
            <div class="expiry-month card-details">
                <label for="expiry-month">Expiry month</label>
                <select name="expiry-month" id="expiry-month" required>
                    <option value="" disabled selected>Select Month</option>
                    <option value="jan">Jan</option>
                    <option value="feb">Feb</option>
                    <option value="mar">Mar</option>
                    <option value="apr">Apr</option>
                    <option value="may">May</option>
                    <option value="jun">Jun</option>
                    <option value="jul">Jul</option>
                    <option value="aug">Aug</option>
                    <option value="sep">Sep</option>
                    <option value="oct">Oct</option>
                    <option value="nov">Nov</option>
                    <option value="dec">Dec</option>
                </select>

            </div>

            <div class="expiry-year card-details">
                <label for="expiry-year">Expiry Year</label>
                <select name="expiry-year" id="expiry-year" required>
                    <option value="" disabled selected>Select Year</option>
                    <!-- Generating years from 2025 to 2038 -->
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                    <option value="2031">2031</option>
                    <option value="2032">2032</option>
                    <option value="2033">2033</option>
                    <option value="2034">2034</option>
                    <option value="2035">2035</option>
                    <option value="2036">2036</option>
                    <option value="2037">2037</option>
                    <option value="2038">2038</option>

                </select>
            </div>

        </div>

        <div class="triple-column-grid">

            <div class="card-type card-details">
                <label for="card-brand">Card options</label>
                <select name="card-brand" id="card-brand" aria-required="true" required>
                    <option value="" disabled selected>Card selection</option>
                    <option value="visa">Visa</option>
                    <option value="mastercard">MasterCard</option>
                    <option value="discover">Discover</option>
                </select>
            </div>

            <div class="card-type card-details">
                <label for="card-type">Card Type</label>
                <select name="card-type" id="card-type" aria-required="true" required>
                    <option value="" disabled selected>Card type</option>
                    <option value="credit">Credit</option>
                    <option value="debit">Debit</option>
                </select>
            </div>

            <div class="cvc card-details">
                <label for="cvc">CVC</label>
                <input type="tel" name="cvc" id="cvc" aria-required="true" inputmode="numeric" autocomplete="cc-csc"
                    placeholder="123" minlength="3" maxlength="3" required>
            </div>
        </div>

        <button type="submit" id="create-card-btn" class="btn-small" aria-label="Create Card">
            Create Card
            <div class="spinner3"></div>
        </button>
        <small class="red margin-top-sm center" id="form-description">This is a demo, please do not
            enter your real details.</small>
    </form>
</div>