{% load static %}

<div id="sidebar-cards">
    <div class="spinner4"></div>
    <h2 class="center logo">EUSBC</h2>
    <h3 class="center margin-bottom-lg capitalize lighten-text">Payment card</h3>

    <div id="sidebar-card" class="margin-top-lg">
        <!-- Dynamically generated -->
    </div>

    <div id="card-info" class="left-align flex-direction-column margin-top-lg margin-bottom-lg">
        <!-- card info will be dynamically generated -->
    </div>

    <div id="sidebar-buttons" class="center">
        <button id="block-card" class="btn block-btn capitalize">block</button>
        <button id="transfer-card-amount" class="btn transfer-btn capitalize">Transfer</button>
        <button id="add" class="btn add-btn capitalize">Fund</button>
        <button id="delete" class="btn delete-btn capitalize">delete</button>
        <button id="close-card" class="btn close-btn capitalize">Close</button>
    </div>

</div>