{% load static %}

<div id="transfer-amount-card" class="transfer-card-wrapper">

    <span id="transfer-amount-card-error" class="small-text red center"></span>
    <span id="transfer-amount-card-msg"></span>

    <!-- Close Button -->
    <div class="window-close flex-end">
        <img src="{% static '/images/icons/window-close.svg' %}" alt="Window" class="icon window-close-icon" id="transfer-amount-card__window-close-icon"">
    </div>

    <h3 class=" center capitalize">Transfer from card</h3>

    <!--  Summary Grid -->
    <div class="four-column-grid margin-top-lg margin-bottom-lg account-summary">

        <div id="transfer-card">
            <span class="center padding-bottom-sm capitalize" id="transfer-card__balance_label-text">Transfer card Balance</span>
            <span class="center padding-bottom-md red transfer-ui-details" id="transfer-card__balance-amount">0</span>
        </div>

        <div class="transfer-details">
            <span class="center padding-bottom-sm capitalize" id="transfer-card__transfer-card-amount-label-text">Transfer card amount</span>
            <span class="center padding-bottom-md red transfer-ui-details" id="transfer-card__card-amount">0</span>
        </div>

        <div class="account-details">
            <span class="center padding-bottom-sm capitalize" id="transfer-card__bank-balance-label-text">Bank Balance</span>
            <span class="center padding-bottom-md red transfer-ui-details" id="transfer-card__bank-balance-amount">£0.00</span>
        </div>

        <div class="transfer-details">
            <span class="center padding-bottom-sm capitalize" id="transfer-card__wallet-balance-label-text">Wallet Balance</span>
            <span class="center padding-bottom-md red transfer-ui-details" id="transfer-card__wallet-balance-amount">£0.00</span>
        </div>
    </div>

    <!-- Transfer Form + Section -->
    <div class="wrapper two-column-grid responsive-stack">

        <!-- Left Column – Transfer Form -->
        <div class="left-handside">
            <form id="transfer-amount-form">
                
                <div class="form-group flex-direction-column">
                    <label for="card-transfer-amount" class="capitalize">Amount to transfer</label>
                    <input type="number" name="transfer-card-amount" id="card-transfer-amount" required step="0.01" max="10000000" min="0.01">
                </div>

                <div class="form-group flex-direction-column">
                    <label for="select-transfer-type" class="capitalize">Select account to transfer to</label>
                    <select name="transfer-amount" id="select-transfer-type">
                        <option value="" disabled selected></option>
                        <option value="bank">Bank</option>
                        <option value="wallet">Wallet</option>
                        <option value="cards">Cards</option>
                    </select>
                </div>

                <!-- to be generated by js. If the user has cards it will be generated when they select cards option -->
                <div class="form-group flex-direction-column" id="select-card-div">
                    <label for="select-card" class="capitalize">Select card</label>
                    <select name="transfer-card" id="select-card">
                        <option value="" disabled selected></option>
                    </select>
                </div>

                <div class="flex-end margin-top-sm">
                    <button type="button" id="transfer-from-card-btn">Transfer</button>
                </div>
            </form>

            <div class="img center">
                <img src="{% static '/images/icons/credit-card.svg' %}" alt="credit-card" id="transfer-amount-card-img">
            </div>
        </div>

        <!--  Right Column – Transference Preview -->
        <div id="transference">

            <!-- <h1 class="capitalize highlight-text center red">Transferring from </h1> -->
            <div id="transferring-card"></div>

            <div class="transference-arrow center">
                <img src="{% static '/images/icons/arrow-down.svg' %}" class="arrow-down-icon" alt="Arrow down">
            </div>

            <!-- <h1 class="capitalize margin-bottom-sm highlight-text center green">Transferring to  </h1> -->
            <div id="transferring-to">
                <p class="capitalize center">Nothing selected</p>
            </div>
        </div>

</div> <!-- End Wrapper -->

   