{% load static %}

<div id="side-dashboard" class="poppins-regular">

    <div class="icons" id="sidebar-icons">

        <a href="https://facebook.com" aria-label="Facebook" target="_blank">
            <img src="{% static '/images/icons/facebook.svg' %}" alt="Facebook icon" class="sidebar-icon"
                loading="lazy">
        </a>
        <a href="https://instagram.com" aria-label="Instagram" target="_blank">
            <img src="{% static '/images/icons/instagram.svg' %}" alt="Instagram icon" class="sidebar-icon"
                loading="lazy">
        </a>
        <a href="mailto:example@example.com" aria-label="Gmail" target="_blank">
            <img src="{% static '/images/icons/gmail.svg' %}" alt="Gmail icon" class="sidebar-icon" loading="lazy">
        </a>
        <a href="https://twitter.com" aria-label="Twitter" target="_blank">
            <img src="{% static '/images/icons/twitter.svg' %}" alt="Twitter icon" class="sidebar-icon" loading="lazy">
        </a>

        <hr class="margin-top-lg margin-bottom-lg">

        <!-- Payment & Other Icons -->
        <img src="{% static '/images/icons/discover.svg' %}" alt="Discover Card icon" class="sidebar-icon"
            loading="lazy">
        <img src="{% static '/images/icons/mastercard.svg' %}" alt="MasterCard icon" class="sidebar-icon"
            loading="lazy">
        <img src="{% static '/images/icons/payment-card-visa.svg' %}" alt="Visa Card icon" class="sidebar-icon"
            loading="lazy">
        <img src="{% static '/images/icons/american-express.svg' %}" alt="American Express Card icon"
            class="sidebar-icon" loading="lazy">
    </div>

    <div class="main-container">

        <div class="lightbox-display">
            <p><span class="site-logo">EUSBC</span> Virtual banking </p>
            <p class="italic slogan">One bank to rule it all </p>
        </div>
        <div class="lightbox-display">
            <h1>Dashboard</h1>
        </div>

        <div class="sidebar-links lightbox-display">
            <img src="" alt="" srcset="">
            <a href="#add-account-info">Add account info</a>
        </div>

        <div class="sidebar-links lightbox-display">
            <img src="" alt="" srcset="">
            <a href="#add-account-info">My Wallet</a>
        </div>
    </div>


</div>